.about-container {
    margin-top: 250px;
}

.experience-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.experience-buttons-row {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.experience-buttons-row button {
    width: 200px;
    height: 200px;
    padding: 20px;
    margin: 10px;
    border: 2px solid #4CAF50;
    background-color: #ffffff;
    color: #4CAF50;
    font-size: 25px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.experience-buttons-row button:hover {
    background-color: #4CAF50;
    color: #ffffff;
    border: 2px solid #ffffff;
    font-size: 16px;
    box-shadow: 0 5px 15px rgba(76, 175, 80, 0.3);
}
