/* @import url('https://fonts.googleapis.com/css2?family=Neucha&family=Roboto&family=Rubik&family=Solitreo&display=swap'); */
.introduction-container {
    /* background: url('path-to-your-background-image.jpg') no-repeat center center fixed;
    background-size: cover; */
    margin-top: 150px;
    padding: 2rem;
    color: #ffffff;
}

.introduction-container .name {
    font-size: 50px;
    font-family: 'Neucha', sans-serif;
}

.introduction-container .title {
    font-size: 60px;
    color: #ff6347;
    font-family: 'Neucha', sans-serif;
}
