.App {
  text-align: center;
}

.header {
  position: sticky;
  top: 0;             /* Stick to the top */
  z-index: 100;       /* To ensure it's always on top of other elements */
  background-color: white; /* Or any color you prefer to ensure readability */

}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
